<!DOCTYPE html>
    <html>
        <head>
            <!-- head definitions go here -->
        </head>
        <body>
            <p>{{ message }}</p>
            <a href="http://localhost:5000/">Login</a>
            <a href="http://localhost:5000/create-user">Create User</a>
            <a href="http://localhost:5000/rate-artist">Rate Artist</a>
            <a href="http://localhost:5000/add-artist">Add Artist</a>
            <a href="http://localhost:5000/logout">Logout</a>
            </body>
    </html>