<!DOCTYPE html>
    <html>
        <head>
            <!-- head definitions go here -->
        </head>
        <body>
        <a href="http://localhost:5000/create-user">Create User</a>
        <form action = "http://localhost:5000/" method = "post">
            <p>Username: <input type = "text" name = "username" value = ""/></p>
            <p>Password: <input type = "text" name = "password" value = ""/></p>
            <p><input type = "submit" value = "submit" /></p>
        </body>
    </html>